@import url("https://fonts.googleapis.com/css2?family=Smooch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
body {
    margin: 0;
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    place-items: center;
    background-color: black;
    z-index: 2;
}
.logo {
    font-family: sans-serif;
    color: white;
    font-size: 2.2em;
}
header nav button {
    background-color: transparent;
    border: 0;
    font-family: quicksand;
    color: white;
    text-transform: uppercase;
    font-size: 0.9em;
    cursor: pointer;
    transition-delay: 0s;
    transition-duration: 1s;
}
header nav button:hover {
    color: yellowgreen;
    transform: translate(0px, -4px);
    text-shadow: 0 6px 6px rgba(0, 0, 0, 1);
}
.order-online {
    width: 200px;
    height: 50px;
    border-radius: 25px;
    border: 0;
    background-color: yellowgreen;
    color: white;
    font-family: montserrat;
    cursor: pointer;
    transition: 0.6s;
    font-size: x-large;
}
.order-online:hover {
    transform: translate(0px, -4px);
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
}

.waves {
    transform: rotate(180deg) scale(1, 0.2);
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -40px; /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px;
    margin-top: 40px;
}
.parallax > use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 4s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 7s;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 10s;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 17s;
}
@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}

.starting {
    background-image: url(/SyntHacks2022/240_F_291452535_HdHqqsV0LXee36w2DAAPeW6LV2IjLsUT.jpg);
    height: 80vh;
    background-repeat: no-repeat;
    background-size: 100%;
}

.text {
    color: white;
    z-index: 10;
    font-family: Arial, Helvetica, sans-serif;
    font-family: smooch;
    font-size: 10vh;
    margin-left: 2vh;
    position: relative;
    top: 45%;
}

.caption {
    font-family: sans-serif;
    font-size: 4vh;
}

#myFile {
    height: 100%;
    width: 100%;
}
html,
body,
* {
    box-sizing: border-box;
    font-size: 16px;
}

h2 {
    font-family: "Roboto", sans-serif;
    font-size: 26px;
    line-height: 1;
    color: black;
    margin-bottom: 0;
}

p {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: black;
}
.upload {
    text-align: center;
}
.uploader {
    display: block;
    clear: both;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
}
.uploader label {
    float: left;
    clear: both;
    width: 100%;
    padding: 2rem 1.5rem;
    text-align: center;
    background: #fff;
    border-radius: 7px;
    border: 3px solid #eee;
    transition: all 0.2s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.uploader label:hover {
    border-color: #454cad;
}
.uploader label.hover {
    border: 3px solid #454cad;
    box-shadow: inset 0 0 0 6px #eee;
}
.uploader label.hover #start i.fa {
    transform: scale(0.8);
    opacity: 0.3;
}
.uploader #start {
    float: left;
    clear: both;
    width: 100%;
}
.uploader #start.hidden {
    display: none;
}
.uploader #start i.fa {
    font-size: 50px;
    margin-bottom: 1rem;
    transition: all 0.2s ease-in-out;
}
.uploader #response {
    float: left;
    clear: both;
    width: 100%;
}
.uploader #response.hidden {
    display: none;
}
.uploader #response #messages {
    margin-bottom: 0.5rem;
}
.uploader #file-image {
    display: inline;
    margin: 0 auto 0.5rem auto;
    width: auto;
    height: auto;
    max-width: 180px;
}
.uploader #file-image.hidden {
    display: none;
}
.uploader #notimage {
    display: block;
    float: left;
    clear: both;
    width: 100%;
}
.uploader #notimage.hidden {
    display: none;
}
.uploader progress,
.uploader .progress {
    display: inline;
    clear: both;
    margin: 0 auto;
    width: 100%;
    max-width: 180px;
    height: 8px;
    border: 0;
    border-radius: 4px;
    background-color: #eee;
    overflow: hidden;
}
.uploader .progress[value]::-webkit-progress-bar {
    border-radius: 4px;
    background-color: #eee;
}
.uploader .progress[value]::-webkit-progress-value {
    background: linear-gradient(to right, #393f90 0%, #454cad 50%);
    border-radius: 4px;
}
.uploader .progress[value]::-moz-progress-bar {
    background: linear-gradient(to right, #393f90 0%, #454cad 50%);
    border-radius: 4px;
}
.uploader input[type="file"] {
    display: none;
}
.uploader div {
    margin: 0 0 0.5rem 0;
    color: #5f6982;
}
.uploader .btn {
    display: inline-block;
    margin: 0.5rem 0.5rem 1rem 0.5rem;
    clear: both;
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    text-transform: initial;
    border: none;
    border-radius: 0.2rem;
    outline: none;
    padding: 0 1rem;
    height: 36px;
    line-height: 36px;
    color: #fff;
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    background: #454cad;
    border-color: #454cad;
    cursor: pointer;
}
